.body {
  width: 100%;
  min-height: 220px;
  /* background-color: seagreen; */
}
.container {
  padding: 0;
  margin: 25px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container h1 {
  text-align: center;
  font-family: "Notable", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

header h2 {
  text-align: center;
  font-family: "Krona One", sans-serif;
}

img {
  /* height: auto; */
  /* min-height: 80%; */
}

.image-div {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.description-holder {
  text-align: center;
  padding: 10px 20px;
  line-height: 1.7;
}

.description-holder p {
  font-family: "Yellowtail", cursive;
  font-size: 14px;
  font-weight: bold;
}
.spinner {
  text-align: center;
  margin-top: 75px;
}
.btn {
  margin: auto;
  display: table;
  margin-top: 10px;
}
.btn-btn {
  margin-right: 8px;
  /* he: 15px; */
}
.btn-btn1 {
  margin-left: 8px;
}

.error-div {
  display: flex;
  margin-top: 70px;
  text-align: center;
  justify-content: center;
  
}

.error-text {
  font-family: "Notable", sans-serif;
  font-size: 35px;
  color: red;
  font-weight: bold;
  text-align: center;
}
